<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Julian Duru">
    <meta http-equiv="Cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="timestamp"/>
    <title>Sterling Health Concept - Add FAQ</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/main.css}" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script th:src="@{/js/html5shiv.js}"></script>
    <script th:src="@{/js/respond.min.js}"></script>
    <![endif]-->
</head>

<body>
<section id="container">
    <!--header start-->
    <header class="header white-bg">
        <div class="sidebar-toggle-box bigger-text-1-5">
            <i class="fa fa-stethoscope"></i>
        </div>
        <!--logo start-->
        <a href="/" class="logo">STERLING <span>HEALTH CONCEPT</span></a>
        <!--logo end-->
        <div class="top-nav ">
            <!--search & user info start-->
            <ul class="nav pull-right top-menu">
                <li>
                    <input id="partner-search-input" type="text"
                           class="form-control search" placeholder="Search"
                           v-model="key" @change="triggerSearch"/>
                </li>
                <!-- user login dropdown start-->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                        <img alt="" src="img/avatar1_small.jpg">
                        <span class="username">Jhon Doue</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <div class="log-arrow-up"></div>
                        <li><a href="index.html#"><i class=" fa fa-suitcase"></i>Profile</a></li>
                        <li><a href="index.html#"><i class="fa fa-cog"></i> Settings</a></li>
                        <li><a href="index.html#"><i class="fa fa-bell-o"></i> Notification</a></li>
                        <li><a href="login.html"><i class="fa fa-key"></i> Log Out</a></li>
                    </ul>
                </li>
                <li class="sb-toggle-right">
                    <i class="fa  fa-align-right"></i>
                </li>
                <!-- user login dropdown end -->
            </ul>
            <!--search & user info end-->
        </div>
    </header>
    <!--header end-->
    <!--main content start-->
    <section id="main-content" class="h-padding-15">

        <!--<div class="col-md-2">-->
        <!--<div class="iconic-input right">-->
        <!--<i class="fa fa-search"></i>-->
        <!--<input type="text" class="form-control" placeholder="Search">-->
        <!--</div>-->
        <!--</div>-->

        <div class="col-md-10 col-md-offset-1">
            <h4 style="position:relative;top:-10px;">Add FAQ</h4>

            <form role="form" th:object="${faq}" th:action="@{/faq}" method="post">
                <div class="form-group">
                    <label for="faqQuestion">Question</label>
                    <input type="text" class="form-control" id="faqQuestion" placeholder="Enter Question" th:field="*{question}" >
                </div>
                <div class="form-group">
                    <label for="faqAnswer">Password</label>
                    <textarea class="form-control resize-v" id="faqAnswer" placeholder="Enter Answer" th:field="*{answer}"></textarea>
                </div>
                <button type="submit" class="btn btn-info">Submit</button>
            </form>
        </div>

    </section>
    <!--main content end-->

    <!-- Right Slidebar start -->
    <div class="sb-slidebar sb-right sb-style-overlay">
        <h5 class="side-title">Online Customers</h5>
        <ul class="quick-chat-list">
            <li class="online">
                <div class="media">
                    <a href="index.html#" class="pull-left media-thumb">
                        <img alt="" src="img/chat-avatar2.jpg" class="media-object">
                    </a>

                    <div class="media-body">
                        <strong>John Doe</strong>
                        <small>Dream Land, AU</small>
                    </div>
                </div>
                <!-- media -->
            </li>
            <li class="online">
                <div class="media">
                    <a href="index.html#" class="pull-left media-thumb">
                        <img alt="" src="img/chat-avatar.jpg" class="media-object">
                    </a>

                    <div class="media-body">
                        <div class="media-status">
                            <span class=" badge bg-important">3</span>
                        </div>
                        <strong>Jonathan Smith</strong>
                        <small>United States</small>
                    </div>
                </div>
                <!-- media -->
            </li>

            <li class="online">
                <div class="media">
                    <a href="index.html#" class="pull-left media-thumb">
                        <img alt="" src="img/pro-ac-1.png" class="media-object">
                    </a>

                    <div class="media-body">
                        <div class="media-status">
                            <span class=" badge bg-success">5</span>
                        </div>
                        <strong>Jane Doe</strong>
                        <small>ABC, USA</small>
                    </div>
                </div>
                <!-- media -->
            </li>
            <li class="online">
                <div class="media">
                    <a href="index.html#" class="pull-left media-thumb">
                        <img alt="" src="img/avatar1.jpg" class="media-object">
                    </a>

                    <div class="media-body">
                        <strong>Anjelina Joli</strong>
                        <small>Fockland, UK</small>
                    </div>
                </div>
                <!-- media -->
            </li>
            <li class="online">
                <div class="media">
                    <a href="index.html#" class="pull-left media-thumb">
                        <img alt="" src="img/mail-avatar.jpg" class="media-object">
                    </a>

                    <div class="media-body">
                        <div class="media-status">
                            <span class=" badge bg-warning">7</span>
                        </div>
                        <strong>Mr Tasi</strong>
                        <small>Dream Land, USA</small>
                    </div>
                </div>
                <!-- media -->
            </li>
        </ul>
        <h5 class="side-title"> pending Task</h5>
        <ul class="p-task tasks-bar">
            <li>
                <a href="index.html#">
                    <div class="task-info">
                        <div class="desc">Dashboard v1.3</div>
                        <div class="percent">40%</div>
                    </div>
                    <div class="progress progress-striped">
                        <div style="width: 40%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40"
                             role="progressbar" class="progress-bar progress-bar-success">
                            <span class="sr-only">40% Complete (success)</span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="index.html#">
                    <div class="task-info">
                        <div class="desc">Database Update</div>
                        <div class="percent">60%</div>
                    </div>
                    <div class="progress progress-striped">
                        <div style="width: 60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60"
                             role="progressbar" class="progress-bar progress-bar-warning">
                            <span class="sr-only">60% Complete (warning)</span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="index.html#">
                    <div class="task-info">
                        <div class="desc">Iphone Development</div>
                        <div class="percent">87%</div>
                    </div>
                    <div class="progress progress-striped">
                        <div style="width: 87%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20"
                             role="progressbar" class="progress-bar progress-bar-info">
                            <span class="sr-only">87% Complete</span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="index.html#">
                    <div class="task-info">
                        <div class="desc">Mobile App</div>
                        <div class="percent">33%</div>
                    </div>
                    <div class="progress progress-striped">
                        <div style="width: 33%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80"
                             role="progressbar" class="progress-bar progress-bar-danger">
                            <span class="sr-only">33% Complete (danger)</span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="index.html#">
                    <div class="task-info">
                        <div class="desc">Dashboard v1.3</div>
                        <div class="percent">45%</div>
                    </div>
                    <div class="progress progress-striped active">
                        <div style="width: 45%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="45"
                             role="progressbar" class="progress-bar">
                            <span class="sr-only">45% Complete</span>
                        </div>
                    </div>

                </a>
            </li>
            <li class="external">
                <a href="index.html#">See All Tasks</a>
            </li>
        </ul>
    </div>
    <!-- Right Slidebar end -->

    <!--footer start-->
    <footer class="site-footer">
        <div class="text-center">
            <a href="index.html#" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
    <!--footer end-->
</section>


<script type="text/x-template" id="partner-card-template">
    <div class="panel shadowed-s">
        <div class="panel-body">
            <div class="media">
                <a style="max-width:175px;width:175px;" class="pull-left" :href="'/partner/' + partner.id">
                    <img class="thumb media-object img-responsive" :src="getPartnerLogoImage(partner)" alt="">
                </a>

                <div class="media-body" style="overflow:visible;">
                    <a :href="'/partner/' + partner.id" class="bigger-text-1-5 panel-main-title"
                       v-text="managedString(partner.name, 20)"></a>
                    <hr/>

                    <div class="panel-info-item row">
                        <div class="col-md-2">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="col-md-10" style="padding-left:2px;">
                            <span v-text="managedString(partner.primaryLocation.address, 30)"></span>
                        </div>
                    </div>

                    <div class="panel-info-item row" v-if="partner.primaryLocation.email">
                        <div class="col-md-2">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="col-md-10" style="padding-left:2px;">
                            <a :href="`mailto:${partner.primaryLocation.email}`"
                               v-text="partner.primaryLocation.email"></a>
                        </div>
                    </div>

                    <div class="panel-info-item row" v-if="partner.primaryLocation.phoneNumber1">
                        <div class="col-md-2">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="col-md-10" style="padding-left:2px;">
                            <span v-text="partner.primaryLocation.phoneNumber1"></span>
                        </div>
                    </div>

                    <div class="pull-right" v-if="partner.partnerProfile.website"
                         style="position:relative;top:12px">
                        <a title="" data-placement="top" data-toggle="tooltip"
                           class="btn btn-white tooltips"
                           :href="`${partner.partnerProfile.website}`"
                           data-original-title="Visit Website" target="_blank">
                            <i class="fa fa-globe"></i>
                        </a>
                    </div>

                    <ul class="social-links" style="position:relative;top:15px">
                        <li v-if="partner.partnerProfile.facebookLink">
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips"
                               :href="`${partner.partnerProfile.facebookLink}`"
                               data-original-title="Facebook" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li v-if="partner.partnerProfile.twitterLink">
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips"
                               :href="`${partner.partnerProfile.twitterLink}`"
                               data-original-title="Twitter" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li v-if="partner.partnerProfile.linkedInLink">
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips"
                               :href="`${partner.partnerProfile.linkedInLink}`"
                               data-original-title="LinkedIn" target="_blank">
                                <i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>

                <!--<div class="pull-right col-md-7" style="padding-left:17px;">-->
                <!-- -->
                <!--</div>-->

            </div>
        </div>
    </div>
</script>

<!-- js placed at the end of the document so the pages load faster -->
<script th:src="@{js/app/faq/app.min.js}"></script>

<script>

    //owl carousel

    $(document).ready(function () {
        $("#owl-demo").owlCarousel({
            navigation: true,
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true,
            autoPlay: true

        });
    });

    //custom select box

    $(function () {
        $('select.styled').customSelect();
    });

</script>

</body>
</html>

