<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Julian Duru">
    <meta http-equiv="Cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="timestamp"/>

    <title>Sterling PharmDirect - Home Page</title>

    <link th:href="@{/css/main.css}" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltips and media queries -->
    <!--[if lt IE 9]>
    <script th:src="@{/js/html5shiv.js}"></script>
    <script th:src="@{/js/respond.min.js}"></script>
    <![endif]-->
</head>

<body>
<section id="container">
    <!--header start-->
    <header class="header white-bg">
        <div class="sidebar-toggle-box">
            <i class="fa fa-bars"></i>
        </div>
        <!--logo start-->
        <a href="/" class="logo"><img src="/img/sterling-bank-logo.jpg" width="100px" height="60px" style="position:relative;top:-10px;" />
            <span>PharmDirect</span></a>
        <!--logo end-->
        <div class="nav notify-row" id="top_menu">
            <!--  notification start -->
            <ul class="nav top-menu">
                <!-- settings start -->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                        <i class="fa fa-tasks"></i>
                        <span class="badge bg-success">6</span>
                    </a>
                    <ul class="dropdown-menu extended tasks-bar">
                        <div class="notify-arrow notify-arrow-green"></div>
                        <li>
                            <p class="green">You have 6 pending tasks</p>
                        </li>
                        <li>
                            <a href="index.html#">
                                <div class="task-info">
                                    <div class="desc">Dashboard v1.3</div>
                                    <div class="percent">40%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span class="sr-only">40% Complete (success)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <div class="task-info">
                                    <div class="desc">Database Update</div>
                                    <div class="percent">60%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <div class="task-info">
                                    <div class="desc">Iphone Development</div>
                                    <div class="percent">87%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 87%">
                                        <span class="sr-only">87% Complete</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <div class="task-info">
                                    <div class="desc">Mobile App</div>
                                    <div class="percent">33%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 33%">
                                        <span class="sr-only">33% Complete (danger)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <div class="task-info">
                                    <div class="desc">Dashboard v1.3</div>
                                    <div class="percent">45%</div>
                                </div>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 45%">
                                        <span class="sr-only">45% Complete</span>
                                    </div>
                                </div>

                            </a>
                        </li>
                        <li class="external">
                            <a href="index.html#">See All Tasks</a>
                        </li>
                    </ul>
                </li>
                <!-- settings end -->
                <!-- inbox dropdown start-->
                <li id="header_inbox_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                        <i class="fa fa-envelope-o"></i>
                        <span class="badge bg-important">5</span>
                    </a>
                    <ul class="dropdown-menu extended inbox">
                        <div class="notify-arrow notify-arrow-red"></div>
                        <li>
                            <p class="red">You have 5 new messages</p>
                        </li>
                        <li>
                            <a href="index.html#">
                                <span class="photo"><img alt="avatar" src="img/avatar-mini.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Jonathan Smith</span>
                                    <span class="time">Just now</span>
                                    </span>
                                    <span class="message">
                                        Hello, this is an example msg.
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <span class="photo"><img alt="avatar" src="img/avatar-mini2.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Jhon Doe</span>
                                    <span class="time">10 mins</span>
                                    </span>
                                    <span class="message">
                                     Hi, Jhon Doe Bhai how are you ?
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <span class="photo"><img alt="avatar" src="img/avatar-mini3.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Jason Stathum</span>
                                    <span class="time">3 hrs</span>
                                    </span>
                                    <span class="message">
                                        This is awesome dashboard.
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <span class="photo"><img alt="avatar" src="img/avatar-mini4.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Jondi Rose</span>
                                    <span class="time">Just now</span>
                                    </span>
                                    <span class="message">
                                        Hello, this is metrolab
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">See all messages</a>
                        </li>
                    </ul>
                </li>
                <!-- inbox dropdown end -->
                <!-- notification dropdown start-->
                <li id="header_notification_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">

                        <i class="fa fa-bell-o"></i>
                        <span class="badge bg-warning">7</span>
                    </a>
                    <ul class="dropdown-menu extended notification">
                        <div class="notify-arrow notify-arrow-yellow"></div>
                        <li>
                            <p class="yellow">You have 7 new notifications</p>
                        </li>
                        <li>
                            <a href="index.html#">
                                <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                Server #3 overloaded.
                                <span class="small italic">34 mins</span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <span class="label label-warning"><i class="fa fa-bell"></i></span>
                                Server #10 not respoding.
                                <span class="small italic">1 Hours</span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                Database overloaded 24%.
                                <span class="small italic">4 hrs</span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <span class="label label-success"><i class="fa fa-plus"></i></span>
                                New user registered.
                                <span class="small italic">Just now</span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <span class="label label-info"><i class="fa fa-bullhorn"></i></span>
                                Application error.
                                <span class="small italic">10 mins</span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">See all notifications</a>
                        </li>
                    </ul>
                </li>
                <!-- notification dropdown end -->
            </ul>
            <!--  notification end -->
        </div>
        <div class="top-nav ">
            <!--search & user info start-->
            <ul class="nav pull-right top-menu">
                <li>
                    <input type="text" class="form-control search" placeholder="Search">
                </li>
                <!-- user login dropdown start-->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                        <img alt="" src="img/avatar1_small.jpg">
                        <span class="username">Jhon Doue</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <div class="log-arrow-up"></div>
                        <li><a href="index.html#"><i class=" fa fa-suitcase"></i>Profile</a></li>
                        <li><a href="index.html#"><i class="fa fa-cog"></i> Settings</a></li>
                        <li><a href="index.html#"><i class="fa fa-bell-o"></i> Notification</a></li>
                        <li><a href="login.html"><i class="fa fa-key"></i> Log Out</a></li>
                    </ul>
                </li>
                <li class="sb-toggle-right">
                    <i class="fa  fa-align-right"></i>
                </li>
                <!-- user login dropdown end -->
            </ul>
            <!--search & user info end-->
        </div>
    </header>
    <!--header end-->
    <!--main content start-->

    <section id="main-content" style="margin-top:0;">

        <div class="home-image-slider shadowed">
            <div class="dashboard-carousel-content">
                <a href="/partner">
                    <div class="col-md-10 dashboard-carousel-image-container">
                        <img class="dashboard-carousel-image" width="100%" height="150%"
                             th:src="@{/img/home_carousel_partner.jpg}"/>
                    </div>
                    <div style="margin-top:60px;position:relative;left:-15px;"
                         class="col-md-2 dashboard-carousel-message">
                        <h2>Connect with our Partners</h2>
                        <hr/>
                        <h5>We offer a portal that enables you to find businesses that provide the service you require.
                            Our partners are the very best in the health sector.</h5>
                    </div>
                </a>
            </div>
            <div class="dashboard-carousel-content">
                <a href="/partner">
                    <div class="col-md-10 dashboard-carousel-image-container">
                        <img class="dashboard-carousel-image" width="100%" height="150%"
                             th:src="@{/img/home_carousel_inventory.jpg}"/>
                    </div>
                    <div style="margin-top:60px;left:-15px;" class="col-md-2 dashboard-carousel-message">
                        <h2>Stock up on your Inventory</h2>
                        <hr/>
                        <h5>Our products are made available at affordable prices.
                            We provide all you need to stock your inventory..</h5>
                    </div>
                </a>
            </div>
            <div class="dashboard-carousel-content">
                <a href="/partner">
                    <div class="col-md-10 dashboard-carousel-image-container">
                        <img class="dashboard-carousel-image" width="100%" height="150%"
                             th:src="@{/img/home_carousel_question.jpg}"/>
                    </div>
                    <div style="margin-top:60px;left:-15px;" class="col-md-2 dashboard-carousel-message">
                        <h2>Buy Equipment and Services</h2>
                        <hr/>
                        <h5>We have a wide range of services which cater to your basic needs.
                            From drugs to laboratory equipment or clinic apparatus.
                            Search and make your purchase.
                        </h5>
                    </div>
                </a>
            </div>
            <div class="dashboard-carousel-content">
                <a href="/partner">
                    <div class="col-md-10 dashboard-carousel-image-container">
                        <img class="dashboard-carousel-image" width="100%" height="150%"
                             th:src="@{/img/home_carousel_capsules.jpg}"/>
                    </div>
                    <div style="margin-top:60px;left:-15px;" class="col-md-2 dashboard-carousel-message">
                        <h2>Purchase Medical Supplies</h2>
                        <hr/>
                        <h5>Our products are made available at affordable prices.
                            We provide all you need to stock your inventory..</h5>
                    </div>
                </a>
            </div>
            <div class="dashboard-carousel-content">
                <a href="/partner">
                    <div class="col-md-10 dashboard-carousel-image-container">
                        <img class="dashboard-carousel-image" width="100%" height="150%"
                             th:src="@{/img/home_carousel_stethos.jpg}"/>
                    </div>
                    <div style="margin-top:60px;left:-15px;" class="col-md-2 dashboard-carousel-message">
                        <h2>Get Started!</h2>
                        <hr/>
                        <h5>We have a wide range of services which cater to your basic needs.
                            From drugs to laboratory equipment or clinic apparatus.
                            Let's get started
                        </h5>
                    </div>
                </a>
            </div>
        </div>

        <section class="wrapper">
            <div class="row b-margin-50">
                <div class="col-md-4 right-bordered centered">
                    <div class="home-main-menu-container">
                        <a href="/partner">
                            <div class="img-container">
                                <img src="img/home_users.png" width="30%"/><br/>
                            </div>
                            <h4>Browse Partners</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 right-bordered centered">
                    <div class="home-main-menu-container">
                        <a href="/partner">
                            <div class="img-container">
                                <img src="img/home_inventory.png" width="30%"/><br/>
                            </div>
                            <h4>Purchase Inventory and Services</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 centered">
                    <div class="home-main-menu-container">
                        <a href="/faq">
                            <div class="img-container">
                                <img src="img/home_faq.png" width="30%"/><br/>
                            </div>
                            <h4>FAQs</h4>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row bottom-bordered impact-story-row">
                <section class="wrapper">
                    <div class="col-md-4 impact-story-art-container">
                        <div class="max-component">
                            <img style="position:relative;top:35px;" src="/img/home_people_img.jpg" width="90%" height="100%"/>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h1>Impact Story</h1>

                        <h3>
                            We have a solid foot in the Nigerian Health Sector.
                            Our goal is to facilitate procurement of health related Items and services.
                        </h3>
                    </div>
                </section>
            </div>

            <div class="row v-margin-25">
                <section class="panel shadowed">
                    <div class="panel-body">
                        <div class="row h-padding-15" id="partner-profile-container" th:object="${featuredPartner}">
                            <aside class="col-lg-12">
                                <h1>Featured Partner</h1>
                            </aside>
                            <aside class="profile-nav col-lg-3">
                                <section>
                                    <div class="user-heading round text-center">
                                        <div class="">
                                            <a style="max-width:112px;width:112px;margin-left:auto;margin-right:auto;"
                                               href="javascript:void(0)">
                                                <img class="thumb media-object img-responsive"
                                                     th:src="${featuredPartner.getLogo1Url()}" alt="">
                                            </a>
                                        </div>
                                        <br/>

                                        <h1 class="info-msg" th:text="*{name}"></h1>
                                        <a class="btn btn-link" th:href="${featuredPartner.partnerProfile.website}"
                                           th:text="*{partnerProfile.website}" target="_blank"></a>
                                    </div>

                                    <ul class="nav nav-pills nav-stacked">
                                        <li>

                                        </li>
                                    </ul>

                                </section>
                            </aside>
                            <aside class="profile-info col-lg-9">
                                <section class="main-partner-contact-container">
                                    <div class="bio-graph-heading bio-graph-heading-fixed-size">
                                        <p th:text="*{description}"></p>
                                    </div>
                                    <div class="panel-body bio-graph-info">
                                        <div class="row v-margin-15">
                                            <div class="bio-row col-md-6">
                                                <div class="col-md-4">
                                                    <span>Primary Address </span>:
                                                </div>
                                                <div class="col-md-8">
                                                    <p><span th:text="*{primaryLocation.address}"></span></p>
                                                </div>
                                            </div>
                                            <div class="bio-row col-md-6">
                                                <div class="col-md-4">
                                                    <span>Email </span>:
                                                </div>
                                                <div class="col-md-8">
                                                    <p><a th:href="'mailto:' + *{primaryLocation.email}"
                                                          th:text="*{primaryLocation.email}"></a></p>
                                                </div>
                                            </div>
                                            <div class="bio-row col-md-6">
                                                <div class="col-md-4">
                                                    <span>PhoneNumber </span>:
                                                </div>
                                                <div class="col-md-8">
                                                    <p><span th:text="*{primaryLocation.phoneNumber1}"></span></p>
                                                </div>
                                            </div>
                                            <div class="bio-row col-md-6">
                                                <div class="col-md-4">
                                                    <span>State </span>:
                                                </div>
                                                <div class="col-md-8">
                                                    <p><span th:text="*{primaryLocation.state.name}"></span></p>
                                                </div>
                                            </div>
                                            <div class="bio-row col-md-6">
                                                <div class="col-md-4">
                                                    <span>Business Type </span>:
                                                </div>
                                                <div class="col-md-8">
                                                    <p><span th:if="*{businessType != null}"
                                                             th:text="*{businessType.description}"></span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </aside>
                        </div>
                    </div>
                </section>
            </div>

            <div class="row v-margin-25">
                <div class="col-md-4 h-padding-15">
                    <h1>Connect with us</h1>
                </div>
                <div class="col-md-4 col-md-offset-4 centered">
                    <div class="col-md-4">
                        <a href="">
                            <i class="fa fa-facebook-square bigger-text-5"></i>
                        </a>
                    </div>

                    <div class="col-md-4">
                        <a href="">
                            <i class="fa fa-twitter-square bigger-text-5"></i>
                        </a>
                    </div>

                    <div class="col-md-4">
                        <a href="">
                            <i class="fa fa-linkedin-square bigger-text-5"></i>
                        </a>
                    </div>
                </div>
            </div>

        </section>
    </section>
    <!--main content end-->

    <!-- Right Slidebar start -->
    <div class="sb-slidebar sb-right sb-style-overlay">
        <h5 class="side-title">Online Customers</h5>
        <ul class="quick-chat-list">
            <li class="online">
                <div class="media">
                    <a href="index.html#" class="pull-left media-thumb">
                        <img alt="" src="img/chat-avatar2.jpg" class="media-object">
                    </a>

                    <div class="media-body">
                        <strong>John Doe</strong>
                        <small>Dream Land, AU</small>
                    </div>
                </div>
                <!-- media -->
            </li>
            <li class="online">
                <div class="media">
                    <a href="index.html#" class="pull-left media-thumb">
                        <img alt="" src="img/chat-avatar.jpg" class="media-object">
                    </a>

                    <div class="media-body">
                        <div class="media-status">
                            <span class=" badge bg-important">3</span>
                        </div>
                        <strong>Jonathan Smith</strong>
                        <small>United States</small>
                    </div>
                </div>
                <!-- media -->
            </li>

            <li class="online">
                <div class="media">
                    <a href="index.html#" class="pull-left media-thumb">
                        <img alt="" src="img/pro-ac-1.png" class="media-object">
                    </a>

                    <div class="media-body">
                        <div class="media-status">
                            <span class=" badge bg-success">5</span>
                        </div>
                        <strong>Jane Doe</strong>
                        <small>ABC, USA</small>
                    </div>
                </div>
                <!-- media -->
            </li>
            <li class="online">
                <div class="media">
                    <a href="index.html#" class="pull-left media-thumb">
                        <img alt="" src="img/avatar1.jpg" class="media-object">
                    </a>

                    <div class="media-body">
                        <strong>Anjelina Joli</strong>
                        <small>Fockland, UK</small>
                    </div>
                </div>
                <!-- media -->
            </li>
            <li class="online">
                <div class="media">
                    <a href="index.html#" class="pull-left media-thumb">
                        <img alt="" src="img/mail-avatar.jpg" class="media-object">
                    </a>

                    <div class="media-body">
                        <div class="media-status">
                            <span class=" badge bg-warning">7</span>
                        </div>
                        <strong>Mr Tasi</strong>
                        <small>Dream Land, USA</small>
                    </div>
                </div>
                <!-- media -->
            </li>
        </ul>
        <h5 class="side-title"> pending Task</h5>
        <ul class="p-task tasks-bar">
            <li>
                <a href="index.html#">
                    <div class="task-info">
                        <div class="desc">Dashboard v1.3</div>
                        <div class="percent">40%</div>
                    </div>
                    <div class="progress progress-striped">
                        <div style="width: 40%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40"
                             role="progressbar" class="progress-bar progress-bar-success">
                            <span class="sr-only">40% Complete (success)</span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="index.html#">
                    <div class="task-info">
                        <div class="desc">Database Update</div>
                        <div class="percent">60%</div>
                    </div>
                    <div class="progress progress-striped">
                        <div style="width: 60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60"
                             role="progressbar" class="progress-bar progress-bar-warning">
                            <span class="sr-only">60% Complete (warning)</span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="index.html#">
                    <div class="task-info">
                        <div class="desc">Iphone Development</div>
                        <div class="percent">87%</div>
                    </div>
                    <div class="progress progress-striped">
                        <div style="width: 87%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20"
                             role="progressbar" class="progress-bar progress-bar-info">
                            <span class="sr-only">87% Complete</span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="index.html#">
                    <div class="task-info">
                        <div class="desc">Mobile App</div>
                        <div class="percent">33%</div>
                    </div>
                    <div class="progress progress-striped">
                        <div style="width: 33%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80"
                             role="progressbar" class="progress-bar progress-bar-danger">
                            <span class="sr-only">33% Complete (danger)</span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="index.html#">
                    <div class="task-info">
                        <div class="desc">Dashboard v1.3</div>
                        <div class="percent">45%</div>
                    </div>
                    <div class="progress progress-striped active">
                        <div style="width: 45%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="45"
                             role="progressbar" class="progress-bar">
                            <span class="sr-only">45% Complete</span>
                        </div>
                    </div>

                </a>
            </li>
            <li class="external">
                <a href="index.html#">See All Tasks</a>
            </li>
        </ul>
    </div>
    <!-- Right Slidebar end -->

    <!--footer start-->
    <footer class="site-footer">
        <div class="text-center">
            <a href="/" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
    <!--footer end-->
</section>

<script th:src="@{js/app/app.min.js}"></script>

<script>

    //owl carousel

    $(document).ready(function () {
        $("#owl-demo").owlCarousel({
            navigation: true,
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true,
            autoPlay: true

        });
    });

    //custom select box

    $(function () {
        $('select.styled').customSelect();
    });

</script>

</body>
</html>
